USE [HRManagement]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 4/19/2025 2:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](15) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 4/19/2025 2:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[AttendanceID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[AttendanceDate] [date] NULL,
	[CheckInTime] [datetime] NULL,
	[CheckOutTime] [datetime] NULL,
	[OvertimeHours] [decimal](5, 2) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 4/19/2025 2:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 4/19/2025 2:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[Address] [nvarchar](200) NULL,
	[Phone] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[DepartmentID] [int] NULL,
	[PositionID] [int] NULL,
	[BaseSalary] [decimal](18, 2) NULL,
	[ContractStartDate] [date] NULL,
	[ContractEndDate] [date] NULL,
	[CreatedAt] [datetime] NULL,
	[QRCodeData] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveRequests]    Script Date: 4/19/2025 2:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveRequests](
	[LeaveID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[LeaveType] [nvarchar](50) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Reason] [nvarchar](200) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LeaveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payroll]    Script Date: 4/19/2025 2:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll](
	[PayrollID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[BaseSalary] [decimal](18, 2) NULL,
	[Allowance] [decimal](18, 2) NULL,
	[Bonus] [decimal](18, 2) NULL,
	[Tax] [decimal](18, 2) NULL,
	[Insurance] [decimal](18, 2) NULL,
	[NetSalary] [decimal](18, 2) NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PayrollID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerformanceEvaluations]    Script Date: 4/19/2025 2:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerformanceEvaluations](
	[EvaluationID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[EvaluationDate] [date] NULL,
	[EvaluatorID] [int] NULL,
	[SelfScore] [decimal](5, 2) NULL,
	[ManagerScore] [decimal](5, 2) NULL,
	[PeerScore] [decimal](5, 2) NULL,
	[Comments] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EvaluationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 4/19/2025 2:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[PositionID] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[PositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recruitment]    Script Date: 4/19/2025 2:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recruitment](
	[CandidateID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](15) NULL,
	[AppliedPositionID] [int] NULL,
	[CVPath] [nvarchar](200) NULL,
	[InterviewDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CandidateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Training]    Script Date: 4/19/2025 2:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Training](
	[TrainingID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[TrainingName] [nvarchar](100) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Result] [nvarchar](50) NULL,
	[Evaluation] [nvarchar](200) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TrainingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Attendance] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LeaveRequests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payroll] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PerformanceEvaluations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Recruitment] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Training] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([PositionID])
REFERENCES [dbo].[Positions] ([PositionID])
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Payroll]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[PerformanceEvaluations]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[PerformanceEvaluations]  WITH CHECK ADD FOREIGN KEY([EvaluatorID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Recruitment]  WITH CHECK ADD FOREIGN KEY([AppliedPositionID])
REFERENCES [dbo].[Positions] ([PositionID])
GO
ALTER TABLE [dbo].[Training]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
/****** Object:  StoredProcedure [dbo].[CalculatePayroll]    Script Date: 4/19/2025 2:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Calculate payroll for each employee for a given month and year
CREATE PROCEDURE [dbo].[CalculatePayroll]
    @Month INT,
    @Year INT
AS
BEGIN
    -- Declare variables
    DECLARE @EmployeeID INT
    DECLARE @BaseSalary DECIMAL(18,2)
    DECLARE @Bonus DECIMAL(18,2)
    DECLARE @Allowance DECIMAL(18,2)
    DECLARE @Tax DECIMAL(18,2)
    DECLARE @Insurance DECIMAL(18,2)
    DECLARE @NetSalary DECIMAL(18,2)
    DECLARE @LateCount INT
    DECLARE @LeaveCount INT
    DECLARE @TrainingCount INT

    -- Cursor to iterate through all employees
    DECLARE employee_cursor CURSOR FOR
    SELECT DISTINCT EmployeeID FROM [HRManagement].[dbo].[Attendance]

    OPEN employee_cursor
    FETCH NEXT FROM employee_cursor INTO @EmployeeID

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Reset variables for each employee
        SET @BaseSalary = 0
        SET @Bonus = 0
        SET @Allowance = 0
        SET @Tax = 0
        SET @Insurance = 600000 -- Default insurance
        SET @LateCount = 0
        SET @LeaveCount = 0
        SET @TrainingCount = 0

        -- Calculate BaseSalary based on attendance
        SELECT @BaseSalary = SUM(
            CASE 
                WHEN Status = 'Present' THEN 8 * 32000
                WHEN Status = 'Late' THEN DATEDIFF(HOUR, CheckInTime, CheckOutTime) * 32000
                ELSE 0
            END
        ),
        @LateCount = SUM(CASE WHEN Status = 'Late' THEN 1 ELSE 0 END)
        FROM [HRManagement].[dbo].[Attendance]
        WHERE EmployeeID = @EmployeeID
        AND MONTH(AttendanceDate) = @Month
        AND YEAR(AttendanceDate) = @Year

        -- Calculate Bonus based on overtime hours
        SELECT @Bonus = ISNULL(SUM(OvertimeHours) * 40000, 0)
        FROM [HRManagement].[dbo].[Attendance]
        WHERE EmployeeID = @EmployeeID
        AND MONTH(AttendanceDate) = @Month
        AND YEAR(AttendanceDate) = @Year

        -- Count approved leaves
        SELECT @LeaveCount = COUNT(*)
        FROM [HRManagement].[dbo].[LeaveRequests]
        WHERE EmployeeID = @EmployeeID
        AND Status = 'Approved'
        AND MONTH(StartDate) = @Month
        AND YEAR(StartDate) = @Year

        -- Calculate Allowance based on training results
        SELECT @TrainingCount = COUNT(*)
        FROM [HRManagement].[dbo].[Training]
        WHERE EmployeeID = @EmployeeID
        AND Result = 'Pass'
        AND MONTH(EndDate) = @Month
        AND YEAR(EndDate) = @Year

        -- Set Allowance based on training count and late/leave conditions
        IF @LateCount >= 3 OR @LeaveCount > 2
            SET @Allowance = 0
        ELSE
            SET @Allowance = @TrainingCount * 100000

        -- Calculate Tax (10% of BaseSalary)
        SET @Tax = @BaseSalary * 0.10

        -- Calculate NetSalary
        SET @NetSalary = @BaseSalary + @Bonus + @Allowance - @Tax - @Insurance

        -- Insert or update payroll record
        IF EXISTS (
            SELECT 1 FROM [HRManagement].[dbo].[Payroll]
            WHERE EmployeeID = @EmployeeID
            AND Month = @Month
            AND Year = @Year
        )
        BEGIN
            UPDATE [HRManagement].[dbo].[Payroll]
            SET BaseSalary = @BaseSalary,
                Allowance = @Allowance,
                Bonus = @Bonus,
                Tax = @Tax,
                Insurance = @Insurance,
                NetSalary = @NetSalary,
                CreatedAt = GETDATE()
            WHERE EmployeeID = @EmployeeID
            AND Month = @Month
            AND Year = @Year
        END
        ELSE
        BEGIN
            INSERT INTO [HRManagement].[dbo].[Payroll]
                (EmployeeID, Month, Year, BaseSalary, Allowance, Bonus, Tax, Insurance, NetSalary, CreatedAt)
            VALUES
                (@EmployeeID, @Month, @Year, @BaseSalary, @Allowance, @Bonus, @Tax, @Insurance, @NetSalary, GETDATE())
        END

        FETCH NEXT FROM employee_cursor INTO @EmployeeID
    END

    CLOSE employee_cursor
    DEALLOCATE employee_cursor
END

-- Example execution
-- EXEC CalculatePayroll @Month = 4, @Year = 2025
GO
